

.submit-image {
  border-radius: 4px;
  border: 2px solid whitesmoke;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  bottom: 5px;
  left: 10px;
  background: white;
}

.video-container {
  max-width: 600px;
  margin: 0px auto;
  position: relative;
  display: flex;
}

canvas {
  background-color: black;
}

video {
  width: 100%;
  background: rgba(0, 0, 0, 1);
}

.video-options {
  max-width: 600px;
  margin: 0px auto;
}

.square-overlay-first {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
}
.square-overlay-second {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
}
.input-gambar {
  background-color: #e5e5e5;
}